body {
    background-color: #36393F;
    overflow-x: hidden;
}
.purpuleh:hover {
    color: #672CDDFF !important;
}

.parallax {
    margin-top: 5%;
    background-image: url("../img/main.png");
    border-radius: 50px 50px 0 0;

    min-height: 1000px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
